<h1>SignUp</h1>

<h2>User</h2>

<div>
    <label for="name">Name:</label>
    <input id="name" @bind="Name" />
</div>

<div>
    <label for="email">Email:</label>
    <input id="email" @bind="Email" />
</div>

@code {
    private string name;
    public string Name
    {
        get => name;
        set
        {
            name = value;
            Console.WriteLine(name);
        }
    }

    private string email;
    public string Email
    {
        get => email;
        set
        {
            email = value;
            Console.WriteLine(email);
        }
    }
}
